<section class="spl_container">
  <h1><span>Pay</span><span>Mark</span></h1>
  <div class="spl_links">
    <%= link_to 'LOG IN', new_user_session_path, class: "spl-login" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "spl-signup" %>  
  </div>
</section>
